@font-face {
  font-family: Inter;
  src: url('../font/Inter-VariableFont_slnt\,wght.ttf');
}

*{
  padding:0;
  margin:0;
  list-style-type:none;
  text-decoration:none;
  box-sizing:border-box;
}

body{
  background-image:url('../images/forest.webp');
  background-position:bottom center;
  background-size:100% auto;
  min-height:100vh;
  min-width:100%;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Inter;
}

main{
  width:25vw;
  background-color:rgba(255,225,255,0.2);
  padding:2em;
  backdrop-filter:blur(10px);
  border:1px solid rgba(255,255,255,0.2);
  border-radius:1em;
}

.menu {
	color: white;
	font-weight: bolder;
	font-variant: all-small-caps;
}

label, select, input{
  width: 49%;
  display: inline-block;
  margin: 5px 0;
 
}

input, select, option{
  background-color: rgba(0,0,0,0.2);
  border: 1px solid #3f603b;
  padding: 1em;
  border-radius: 1em;
  box-shadow: inset 0 0 3em rgba(0,0,0,0.2);
  color:white;
}

label{
  font-weight:bolder;
  color:white;
}

input:focus-within, select:focus-within {
	outline: #b7df8e 1px solid;
	box-shadow: inset 0 0 20px #b7df8e20;
	transition: 0.2s;
}

.delete {
	appearance: none;
	border: 0;
	padding: 1em;
	border-radius: 100px;
	aspect-ratio: 1/1;
	line-height: 0.5;
	background-color: grey;
	color: black;
	font-weight: bold;
}

.error{
  background-color: #ff000050;
  display:inline-block;
  width:20rem;
  padding:0.3em;
  border:1px solid crimson;
  color:red;
  border-radius:0.3em;
}

.green {
	background-color: #1e5e484f;
	display: inline-block;
	width: 20rem;
	padding: 0.3em;
	border: 1px solid rgb(20, 220, 143);
	color: rgb(158, 225, 208);
	border-radius: 0.3em;
}